<%
    const page = (htmlWebpackPlugin && htmlWebpackPlugin.options.page);
    const sections = page.sections;
    const year = new Date().getFullYear();

    const h = require('../sitemap/helpers');
%>
@require('/common/structure/head.ejs', { "bodyClassList" : "one-page-scroll" } )
@require('./common/header.ejs')
<main id="main" data-page-id="about">
    <section class="main-section">
        <div class="frame">
              
        </div>
        <div class="content">
            <div class="fold-content" id="base-content">
                <!-- CONTENT INSIDE HERE -->
                <p class="content__type">
                    <span class="content__type-special">ANASTASIIA STATIVKA</span>
                </p>
                <img class="content__img" src="../assets/about/15.jpg" alt="Some image">
                <p class="content__type">
                    <span class="content__type-special">ROMAN TIUTIUNNYK</span>
                </p>
                <img class="content__img" src="../assets/about/Frame 1.png" alt="Some image">
                <p class="content__type">
                    <span class="content__type-special">SERHII POLYVANYI</span>
                </p>
                <img class="content__img" src="../assets/about/15.jpg" alt="Some image">
                <p class="content__type">
                    <span class="content__type-special">VIKTORIIA BALATSKO</span>
                </p>
                <img class="content__img" src="../assets/about/15.jpg" alt="Some image">
                <p class="content__type">
                    <span class="content__type-special">VLAD LITOVKA</span>
                </p>
                <img class="content__img" src="../assets/about/15.jpg" alt="Some image">
                <p class="content__type">
                    <span class="content__type-special">KIRILL TRACHUK</span>
                </p>
                <img class="content__img" src="../assets/about/15.jpg" alt="Some image">
            </div>
            <div class="screen" id="fold-wrapper"></div>
            <button class="btn-debug" id="btn-debug">See Planes</button>
        </div>
    </section>
</main>
@require('./common/structure/foot.ejs')