<%
    const page = (htmlWebpackPlugin && htmlWebpackPlugin.options.page);
    const sections = page.sections;
    const year = new Date().getFullYear();

    const h = require('../sitemap/helpers');
%>
@require('/common/structure/head.ejs', { "bodyClassList" : "one-page-scroll" } )
@require('./common/header.ejs')
<main id="main" data-page-id="projects">
    <section class="main-section">
        to do
    </section>
</main>
@require('./common/structure/foot.ejs')