<%
    const page = (htmlWebpackPlugin && htmlWebpackPlugin.options.page);
    const sections = page.sections;
    const year = new Date().getFullYear();

    const h = require('../sitemap/helpers');
%>
@require('/common/structure/head.ejs', { "bodyClassList" : "one-page-scroll" } )
@require('./common/header.ejs')
<main id="main" data-page-id="projects">
    <section class="main-section">
        
        <div class="demo-1">
    
            <div class="demo-1__gallery">
              <figure class="demo-1__gallery__figure">
                <img class="demo-1__gallery__image" src="../assets/img_projects/aiia.png">
              </figure>
    
              <figure class="demo-1__gallery__figure">
                <img class="demo-1__gallery__image" src="../assets/img_projects/thinkeasy.png">
              </figure>
    
              <figure class="demo-1__gallery__figure">
                <img class="demo-1__gallery__image" src="../assets/img_projects//4erep.png">
              </figure>
    
              <figure class="demo-1__gallery__figure">
                <img class="demo-1__gallery__image" src="../assets/img_projects//super.png">
              </figure>
    
              <figure class="demo-1__gallery__figure">
                <img class="demo-1__gallery__image" src="../assets/img_projects//line.png">
              </figure>
    
              <figure class="demo-1__gallery__figure">
                <img class="demo-1__gallery__image" src="../assets/img_projects//sdw.png">
              </figure>
    
              <figure class="demo-1__gallery__figure">
                <img class="demo-1__gallery__image" src="../assets/img_projects//lounge.png">
              </figure>
    
              <figure class="demo-1__gallery__figure">
                <img class="demo-1__gallery__image" src="../assets/img_projects//wikimapia.png">
              </figure>
    
              <figure class="demo-1__gallery__figure">
                <img class="demo-1__gallery__image" src="../assets/img_projects//hardy.png">
              </figure>
    
              <figure class="demo-1__gallery__figure">
                <img class="demo-1__gallery__image" src="../assets/img_projects//one_step.png">
              </figure>
    
              <!--<figure class="demo-1__gallery__figure">
                <img class="demo-1__gallery__image" src="../assets/img_projects//burger.png">
              </figure>-->
    
              <figure class="demo-1__gallery__figure">
                <img class="demo-1__gallery__image" src="../assets/img_projects//diffiser.png">
              </figure>
            </div>
          </div>
    </section>
</main>
@require('./common/structure/foot.ejs')