<header class="header">
    <svg class="hidden">
        <defs>
            <filter id="filter-1">
                <feTurbulence type="fractalNoise" baseFrequency="0" numOctaves="1" result="warp" />
                <feOffset dx="-90" result="warpOffset" />
                <feDisplacementMap xChannelSelector="R" yChannelSelector="G" scale="30" in="SourceGraphic" in2="warpOffset" />
            </filter>
            <filter id="filter-2">
                <feTurbulence type="fractalNoise" baseFrequency="0" numOctaves="20" result="warp" />
                <feOffset dx="-90" result="warpOffset" />
                <feDisplacementMap xChannelSelector="R" yChannelSelector="G" scale="40" in="SourceGraphic" in2="warpOffset" />
            </filter>
            <filter id="filter-3">
                <feTurbulence type="fractalNoise" baseFrequency="0.15 0.02" numOctaves="3" result="warp" />
                <feDisplacementMap xChannelSelector="R" yChannelSelector="G" scale="0" in="SourceGraphic" in2="warp" />
            </filter>
            <filter id="filter-4">
                <feTurbulence type="fractalNoise" baseFrequency="0" numOctaves="5" result="warp" />
                <feOffset dx="-90" result="warpOffset" />
                <feDisplacementMap xChannelSelector="R" yChannelSelector="G" scale="35" in="SourceGraphic" in2="warpOffset" />
            </filter>
            <filter id="filter-5">
                <feTurbulence type="fractalNoise" baseFrequency="0.01 0.7" numOctaves="5" result="warp" />
                <feDisplacementMap xChannelSelector="R" yChannelSelector="G" scale="0" in="SourceGraphic" in2="warp" />
            </filter>
            <filter id="filter-6">
                <feTurbulence type="fractalNoise" baseFrequency="0.01 0.07" numOctaves="5" seed="2" result="noise" />
                <feDisplacementMap in="SourceGraphic" in2="warp" scale="0" xChannelSelector="R" yChannelSelector="B" />
            </filter>
            <filter id="filter-7">
                <feTurbulence type="fractalNoise" baseFrequency="0" numOctaves="5" result="warp" />
                <feDisplacementMap xChannelSelector="R" yChannelSelector="G" scale="90" in="SourceGraphic" in2="warp" />
            </filter>
        </defs>
    </svg>
    <div class="bg-header-wrapper">
        <div class="bg-header"></div>
    </div>   
    <div class="header-left">
        <span class="menu menu--line">
        <a href="/" class="medium-text ls-small drop-us menu__link menu__link--1"><img src="../../assets/img/Logo.svg" alt="" class="logo"></a>
    </span>
        
        <span class="slesh">
        </span>
        <div class="logo-description desc-1 ls-small">
            creative design studio
        </div>
    </div>
    <div class="header-middle">
        <nav class="menu menu--line">
            <a href="/projects.html" class="desc-1 bold menu__link">projects</a>
            <a href="https://www.behance.net/blacklead_studio" class="desc-1 bold menu__link menu__link--2" target="_blank">behance</a>
            <a href="https://www.instagram.com/blacklead.studio/" class="desc-1 bold menu__link menu__link--3" target="_blank">instagram</a>
            <a href="https://www.facebook.com/blacklead.studio" class="desc-1 bold menu__link menu__link--4" target="_blank">facebook</a>
        </nav>
    </div>
    <div class="header-right">
        <div class="arrows">
            <svg width="27" height="24" viewBox="0 0 27 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="white-arrow">
                <mask id="path-1-inside-1">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M24.1289 14.7142L27 11.8431L15.1569 -5.1768e-07L12.2858 2.87106L19.0579 9.6432L0.100084 9.6432L0.100084 13.7035L19.3974 13.7035L12.2856 20.8153L15.1567 23.6863L24.1289 14.7141L24.1289 14.7142Z" />
                </mask>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M24.1289 14.7142L27 11.8431L15.1569 -5.1768e-07L12.2858 2.87106L19.0579 9.6432L0.100084 9.6432L0.100084 13.7035L19.3974 13.7035L12.2856 20.8153L15.1567 23.6863L24.1289 14.7141L24.1289 14.7142Z" />
                <path d="M27 11.8431L27.1794 12.0226L27.3589 11.8431L27.1794 11.6637L27 11.8431ZM24.1289 14.7142L23.9495 14.8936L24.1289 15.0731L24.3084 14.8936L24.1289 14.7142ZM15.1569 -5.1768e-07L15.3363 -0.179442L15.1569 -0.358883L14.9774 -0.179442L15.1569 -5.1768e-07ZM12.2858 2.87106L12.1064 2.69162L11.9269 2.87106L12.1064 3.0505L12.2858 2.87106ZM19.0579 9.6432L19.0579 9.89697L19.6706 9.89697L19.2374 9.46376L19.0579 9.6432ZM0.100084 9.6432L0.100084 9.38943L-0.153685 9.38943L-0.153685 9.6432L0.100084 9.6432ZM0.100084 13.7035L-0.153685 13.7035L-0.153685 13.9573L0.100084 13.9573L0.100084 13.7035ZM19.3974 13.7035L19.5768 13.8829L20.01 13.4497L19.3974 13.4497L19.3974 13.7035ZM12.2856 20.8153L12.1062 20.6358L11.9267 20.8153L12.1062 20.9947L12.2856 20.8153ZM15.1567 23.6863L14.9772 23.8658L15.1567 24.0452L15.3361 23.8658L15.1567 23.6863ZM24.1289 14.7141L24.3083 14.5347L24.1289 14.3552L23.9494 14.5347L24.1289 14.7141ZM26.8206 11.6637L23.9495 14.5348L24.3084 14.8936L27.1794 12.0226L26.8206 11.6637ZM14.9774 0.179441L26.8206 12.0226L27.1794 11.6637L15.3363 -0.179442L14.9774 0.179441ZM12.4652 3.0505L15.3363 0.179441L14.9774 -0.179442L12.1064 2.69162L12.4652 3.0505ZM19.2374 9.46376L12.4652 2.69162L12.1064 3.0505L18.8785 9.82264L19.2374 9.46376ZM19.0579 9.38943L0.100084 9.38943L0.100084 9.89697L19.0579 9.89697L19.0579 9.38943ZM-0.153685 9.6432L-0.153685 13.7035L0.353853 13.7035L0.353853 9.6432L-0.153685 9.6432ZM0.100084 13.9573L19.3974 13.9573L19.3974 13.4497L0.100084 13.4497L0.100084 13.9573ZM19.2179 13.5241L12.1062 20.6358L12.4651 20.9947L19.5768 13.8829L19.2179 13.5241ZM12.1062 20.9947L14.9772 23.8658L15.3361 23.5069L12.4651 20.6358L12.1062 20.9947ZM15.3361 23.8658L24.3083 14.8936L23.9494 14.5347L14.9772 23.5069L15.3361 23.8658ZM24.3084 14.5348L24.3083 14.5347L23.9494 14.8936L23.9495 14.8936L24.3084 14.5348Z" mask="url(#path-1-inside-1)" />
            </svg>
            <svg width="27" height="24" viewBox="0 0 27 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="white-arrow">
                <mask id="path-1-inside-1">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M24.1289 14.7142L27 11.8431L15.1569 -5.1768e-07L12.2858 2.87106L19.0579 9.6432L0.100084 9.6432L0.100084 13.7035L19.3974 13.7035L12.2856 20.8153L15.1567 23.6863L24.1289 14.7141L24.1289 14.7142Z" />
                </mask>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M24.1289 14.7142L27 11.8431L15.1569 -5.1768e-07L12.2858 2.87106L19.0579 9.6432L0.100084 9.6432L0.100084 13.7035L19.3974 13.7035L12.2856 20.8153L15.1567 23.6863L24.1289 14.7141L24.1289 14.7142Z" />
                <path d="M27 11.8431L27.1794 12.0226L27.3589 11.8431L27.1794 11.6637L27 11.8431ZM24.1289 14.7142L23.9495 14.8936L24.1289 15.0731L24.3084 14.8936L24.1289 14.7142ZM15.1569 -5.1768e-07L15.3363 -0.179442L15.1569 -0.358883L14.9774 -0.179442L15.1569 -5.1768e-07ZM12.2858 2.87106L12.1064 2.69162L11.9269 2.87106L12.1064 3.0505L12.2858 2.87106ZM19.0579 9.6432L19.0579 9.89697L19.6706 9.89697L19.2374 9.46376L19.0579 9.6432ZM0.100084 9.6432L0.100084 9.38943L-0.153685 9.38943L-0.153685 9.6432L0.100084 9.6432ZM0.100084 13.7035L-0.153685 13.7035L-0.153685 13.9573L0.100084 13.9573L0.100084 13.7035ZM19.3974 13.7035L19.5768 13.8829L20.01 13.4497L19.3974 13.4497L19.3974 13.7035ZM12.2856 20.8153L12.1062 20.6358L11.9267 20.8153L12.1062 20.9947L12.2856 20.8153ZM15.1567 23.6863L14.9772 23.8658L15.1567 24.0452L15.3361 23.8658L15.1567 23.6863ZM24.1289 14.7141L24.3083 14.5347L24.1289 14.3552L23.9494 14.5347L24.1289 14.7141ZM26.8206 11.6637L23.9495 14.5348L24.3084 14.8936L27.1794 12.0226L26.8206 11.6637ZM14.9774 0.179441L26.8206 12.0226L27.1794 11.6637L15.3363 -0.179442L14.9774 0.179441ZM12.4652 3.0505L15.3363 0.179441L14.9774 -0.179442L12.1064 2.69162L12.4652 3.0505ZM19.2374 9.46376L12.4652 2.69162L12.1064 3.0505L18.8785 9.82264L19.2374 9.46376ZM19.0579 9.38943L0.100084 9.38943L0.100084 9.89697L19.0579 9.89697L19.0579 9.38943ZM-0.153685 9.6432L-0.153685 13.7035L0.353853 13.7035L0.353853 9.6432L-0.153685 9.6432ZM0.100084 13.9573L19.3974 13.9573L19.3974 13.4497L0.100084 13.4497L0.100084 13.9573ZM19.2179 13.5241L12.1062 20.6358L12.4651 20.9947L19.5768 13.8829L19.2179 13.5241ZM12.1062 20.9947L14.9772 23.8658L15.3361 23.5069L12.4651 20.6358L12.1062 20.9947ZM15.3361 23.8658L24.3083 14.8936L23.9494 14.5347L14.9772 23.5069L15.3361 23.8658ZM24.3084 14.5348L24.3083 14.5347L23.9494 14.8936L23.9495 14.8936L24.3084 14.5348Z" mask="url(#path-1-inside-1)" />
            </svg>
            <svg width="27" height="24" viewBox="0 0 27 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="white-arrow">
                <mask id="path-1-inside-1">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M24.1289 14.7142L27 11.8431L15.1569 -5.1768e-07L12.2858 2.87106L19.0579 9.6432L0.100084 9.6432L0.100084 13.7035L19.3974 13.7035L12.2856 20.8153L15.1567 23.6863L24.1289 14.7141L24.1289 14.7142Z" />
                </mask>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M24.1289 14.7142L27 11.8431L15.1569 -5.1768e-07L12.2858 2.87106L19.0579 9.6432L0.100084 9.6432L0.100084 13.7035L19.3974 13.7035L12.2856 20.8153L15.1567 23.6863L24.1289 14.7141L24.1289 14.7142Z" />
                <path d="M27 11.8431L27.1794 12.0226L27.3589 11.8431L27.1794 11.6637L27 11.8431ZM24.1289 14.7142L23.9495 14.8936L24.1289 15.0731L24.3084 14.8936L24.1289 14.7142ZM15.1569 -5.1768e-07L15.3363 -0.179442L15.1569 -0.358883L14.9774 -0.179442L15.1569 -5.1768e-07ZM12.2858 2.87106L12.1064 2.69162L11.9269 2.87106L12.1064 3.0505L12.2858 2.87106ZM19.0579 9.6432L19.0579 9.89697L19.6706 9.89697L19.2374 9.46376L19.0579 9.6432ZM0.100084 9.6432L0.100084 9.38943L-0.153685 9.38943L-0.153685 9.6432L0.100084 9.6432ZM0.100084 13.7035L-0.153685 13.7035L-0.153685 13.9573L0.100084 13.9573L0.100084 13.7035ZM19.3974 13.7035L19.5768 13.8829L20.01 13.4497L19.3974 13.4497L19.3974 13.7035ZM12.2856 20.8153L12.1062 20.6358L11.9267 20.8153L12.1062 20.9947L12.2856 20.8153ZM15.1567 23.6863L14.9772 23.8658L15.1567 24.0452L15.3361 23.8658L15.1567 23.6863ZM24.1289 14.7141L24.3083 14.5347L24.1289 14.3552L23.9494 14.5347L24.1289 14.7141ZM26.8206 11.6637L23.9495 14.5348L24.3084 14.8936L27.1794 12.0226L26.8206 11.6637ZM14.9774 0.179441L26.8206 12.0226L27.1794 11.6637L15.3363 -0.179442L14.9774 0.179441ZM12.4652 3.0505L15.3363 0.179441L14.9774 -0.179442L12.1064 2.69162L12.4652 3.0505ZM19.2374 9.46376L12.4652 2.69162L12.1064 3.0505L18.8785 9.82264L19.2374 9.46376ZM19.0579 9.38943L0.100084 9.38943L0.100084 9.89697L19.0579 9.89697L19.0579 9.38943ZM-0.153685 9.6432L-0.153685 13.7035L0.353853 13.7035L0.353853 9.6432L-0.153685 9.6432ZM0.100084 13.9573L19.3974 13.9573L19.3974 13.4497L0.100084 13.4497L0.100084 13.9573ZM19.2179 13.5241L12.1062 20.6358L12.4651 20.9947L19.5768 13.8829L19.2179 13.5241ZM12.1062 20.9947L14.9772 23.8658L15.3361 23.5069L12.4651 20.6358L12.1062 20.9947ZM15.3361 23.8658L24.3083 14.8936L23.9494 14.5347L14.9772 23.5069L15.3361 23.8658ZM24.3084 14.5348L24.3083 14.5347L23.9494 14.8936L23.9495 14.8936L24.3084 14.5348Z" mask="url(#path-1-inside-1)" />
            </svg>
            <svg width="27" height="24" viewBox="0 0 27 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="white-arrow">
                <mask id="path-1-inside-1">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M24.1289 14.7142L27 11.8431L15.1569 -5.1768e-07L12.2858 2.87106L19.0579 9.6432L0.100084 9.6432L0.100084 13.7035L19.3974 13.7035L12.2856 20.8153L15.1567 23.6863L24.1289 14.7141L24.1289 14.7142Z" />
                </mask>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M24.1289 14.7142L27 11.8431L15.1569 -5.1768e-07L12.2858 2.87106L19.0579 9.6432L0.100084 9.6432L0.100084 13.7035L19.3974 13.7035L12.2856 20.8153L15.1567 23.6863L24.1289 14.7141L24.1289 14.7142Z" />
                <path d="M27 11.8431L27.1794 12.0226L27.3589 11.8431L27.1794 11.6637L27 11.8431ZM24.1289 14.7142L23.9495 14.8936L24.1289 15.0731L24.3084 14.8936L24.1289 14.7142ZM15.1569 -5.1768e-07L15.3363 -0.179442L15.1569 -0.358883L14.9774 -0.179442L15.1569 -5.1768e-07ZM12.2858 2.87106L12.1064 2.69162L11.9269 2.87106L12.1064 3.0505L12.2858 2.87106ZM19.0579 9.6432L19.0579 9.89697L19.6706 9.89697L19.2374 9.46376L19.0579 9.6432ZM0.100084 9.6432L0.100084 9.38943L-0.153685 9.38943L-0.153685 9.6432L0.100084 9.6432ZM0.100084 13.7035L-0.153685 13.7035L-0.153685 13.9573L0.100084 13.9573L0.100084 13.7035ZM19.3974 13.7035L19.5768 13.8829L20.01 13.4497L19.3974 13.4497L19.3974 13.7035ZM12.2856 20.8153L12.1062 20.6358L11.9267 20.8153L12.1062 20.9947L12.2856 20.8153ZM15.1567 23.6863L14.9772 23.8658L15.1567 24.0452L15.3361 23.8658L15.1567 23.6863ZM24.1289 14.7141L24.3083 14.5347L24.1289 14.3552L23.9494 14.5347L24.1289 14.7141ZM26.8206 11.6637L23.9495 14.5348L24.3084 14.8936L27.1794 12.0226L26.8206 11.6637ZM14.9774 0.179441L26.8206 12.0226L27.1794 11.6637L15.3363 -0.179442L14.9774 0.179441ZM12.4652 3.0505L15.3363 0.179441L14.9774 -0.179442L12.1064 2.69162L12.4652 3.0505ZM19.2374 9.46376L12.4652 2.69162L12.1064 3.0505L18.8785 9.82264L19.2374 9.46376ZM19.0579 9.38943L0.100084 9.38943L0.100084 9.89697L19.0579 9.89697L19.0579 9.38943ZM-0.153685 9.6432L-0.153685 13.7035L0.353853 13.7035L0.353853 9.6432L-0.153685 9.6432ZM0.100084 13.9573L19.3974 13.9573L19.3974 13.4497L0.100084 13.4497L0.100084 13.9573ZM19.2179 13.5241L12.1062 20.6358L12.4651 20.9947L19.5768 13.8829L19.2179 13.5241ZM12.1062 20.9947L14.9772 23.8658L15.3361 23.5069L12.4651 20.6358L12.1062 20.9947ZM15.3361 23.8658L24.3083 14.8936L23.9494 14.5347L14.9772 23.5069L15.3361 23.8658ZM24.3084 14.5348L24.3083 14.5347L23.9494 14.8936L23.9495 14.8936L24.3084 14.5348Z" mask="url(#path-1-inside-1)" />
            </svg>
        </div>
        <span class="menu menu--line">
            <a href="mailto:hello@blacklead.studio" class="medium-text ls-small drop-us menu__link menu__link--1">drop us a line</a>
        </span>
    </div>
</header>